/*INDEX*/

.btn-primary {
  border-radius: 12px;
  background-color: #07BDFF

}
.indexJumbo {
  margin-top: 100px;
  min-height: 400px;
  background-image: url("../jumbo.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  border: solid;
  border-color: black;

}
.indexH3 {
  margin-bottom: 100px;
  text-align: justify;
  color: #C195E2;
  font-size: 30px;
  text-shadow: 1px 2px black;

}
.indexH1 {
  ext-align: justify;
  color: #C195E2;
  font-size: 30px;
  text-shadow: 1px 2px #C195E2;
}
.index {
  background-color: #07BDFF;
}


/*RADIO*/
.radioImage {
  max-height: 150px;
  max-width: auto;

}
input[type='radio'], label{
  display:inline;
  vertical-align:top;
  float: none;
}
.radio-inline {
  text-align: center;
}
.radioContainer {
  margin-top: 75px;
}
/*RESULTS*/
.miami {
  display: none;
}
.portland {
  display: none;
}
.newYork {
  display: none;
}
.tokyoContainer {
  display: none;
}
.miamiContainer {
  display: none;
}
.portlandContainer {
  display: none;
}
.newYorkContainer {
  display: none;
}
.resultsHead {
  display: none;
}
.tokyo-content {
  display: none;
}
.miami-content {
  display: none;
}
.portland-content {
  display: none;
}
.newYork-content {
  display: none;
}
/*FORM*/
.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-contol {
  margin-top: 10px;
  margin-bottom: 10px;
}
